.slick-active {
    outline: none !important;
  }
  
  html {
    font-size: 10px;
  }
  @media (max-width: 576px) {
    html {
      font-size: 8px;
    }
  }
  
  body {
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
  }
  
  p {
    margin: 0;
  }
  
  input, textarea {
    outline: none;
  }
  
  section.portfolio-block, section.contact-with-me, section.skills-block, section.about-me-block, section.footer-block {
    height: auto;
  }
  section.about-me-block {
    height: auto;
    position: relative;
  }
  section.footer-block {
    padding: 50px 0;
  }
  section.header {
    height: 100vh;
  }
  
  .dark-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 0;
  }
  
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .top-nav-wrap {
    width: 100%;
    background-color: #fff;
  }
  .top-nav-wrap .top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-nav-wrap .top-nav .logo a {
    display: block;
    padding: 20px;
    color: #545454;
    font-size: 3.4rem;
    line-height: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  .top-nav-wrap .top-nav .logo a span {
    color: #141414;
  }
  .top-nav-wrap .top-nav .logo a small {
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 3px;
  }
  
  .burger-menu {
    position: relative;
  }
  .burger-menu .overfrow-wrap {
    position: absolute;
    top: 85px;
    right: 20px;
    overflow-y: hidden;
    width: auto;
  }
  @media (max-width: 576px) {
    .burger-menu .overfrow-wrap {
      top: 80px;
      right: 20px;
    }
  }
  .burger-menu .overfrow-wrap .menu-list-wrap {
    background-color: white;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  .burger-menu .overfrow-wrap .menu-list-wrap_active {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .burger-menu .overfrow-wrap .menu-list-wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 200px;
    list-style: none;
    text-align: right;
  }
  .burger-menu .overfrow-wrap .menu-list-wrap ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    width: 250px;
    padding: 0 20px;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .burger-menu .overfrow-wrap .menu-list-wrap ul li:hover {
    background-color: #CFD8DC;
  }
  .burger-menu .overfrow-wrap .menu-list-wrap ul li a {
    width: auto;
    color: black;
    text-decoration: none;
  }
  
  svg {
    height: 80px;
    position: absolute;
    width: 80px;
  }
  
  .plate {
    height: 80px;
    width: 80px;
  }
  
  .burger {
    -webkit-filter: url(#gooeyness);
            filter: url(#gooeyness);
  }
  
  .x {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
  }
  .x .line {
    stroke-width: 5.5px;
  }
  
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    -webkit-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, -webkit-transform 500ms 200ms;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, -webkit-transform 500ms 200ms;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms, -webkit-transform 500ms 200ms;
  }
  
  .plate1 .line2 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 0px;
  }
  .plate1 .line3 {
    stroke-dasharray: 40 179;
    stroke-dashoffset: 0px;
  }
  
  .active .line {
    -webkit-transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, -webkit-transform 500ms;
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, -webkit-transform 500ms;
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms, -webkit-transform 500ms;
  }
  .active.plate1 .line1 {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 500ms 100ms;
    transition: -webkit-transform 500ms 100ms;
    transition: transform 500ms 100ms;
    transition: transform 500ms 100ms, -webkit-transform 500ms 100ms;
  }
  .active.plate1 .line2 {
    stroke-dasharray: 5px 200;
    stroke-dashoffset: -164px;
  }
  .active.plate1 .line3 {
    stroke-dasharray: 5px 179;
    stroke-dashoffset: -142px;
  }
  .active .x {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 400ms 350ms;
    transition: -webkit-transform 400ms 350ms;
    transition: transform 400ms 350ms;
    transition: transform 400ms 350ms, -webkit-transform 400ms 350ms;
  }
  
  .main-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: -200px;
    margin-right: 100px;
    padding-top: 100px;
  }
  @media (max-width: 576px) {
    .main-list {
      margin-right: 20px;
      padding-left: 50px;
    }
  }
  @media (max-width: 992px) {
    .main-list {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
  }
  .main-list small {
    display: block;
    text-align: right;
    width: 39%;
    font-size: 2rem;
    color: white;
  }
  @media (max-width: 576px) {
    .main-list small {
      font-size: 1.8rem;
      width: 100%;
      text-align: left;
      margin-top: 400px;
      margin-left: 200px;
    }
  }
  @media (max-width: 768px) {
    .main-list small {
      text-align: left;
      width: 85%;
      margin-top: 380px;
      margin-left: -200px;
    }
  }
  @media (max-width: 992px) {
    .main-list small {
      text-align: left;
      margin-top: 380px;
      margin-left: 100px;
      width: 70%;
    }
  }
  
  .scroll-down {
    color: #fff;
    font-size: 60px;
    margin-bottom: 50px;
  }
  @media (max-width: 576px) {
    .scroll-down {
      margin-top: 70px;
    }
  }
  
  .portfolio-block {
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .portfolio-block h2 {
    font-size: 4.5rem;
  }
  @media (max-width: 576px) {
    .portfolio-block h2 {
      text-align: center;
      font-size: 3rem;
    }
  }
  .portfolio-block .portfolio-item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  @media (max-width: 576px) {
    .portfolio-block .portfolio-item-wrap {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  @media (max-width: 768px) {
    .portfolio-block .portfolio-item-wrap {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  @media (max-width: 992px) {
    .portfolio-block .portfolio-item-wrap {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  .portfolio-block .portfolio-item_1 {
    background-image: url(../img/1.png) !important;
  }
  .portfolio-block .portfolio-item {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
    margin-right: 30px;
    background-color: black;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    position: relative;
    text-decoration: none;
  }
  @media (max-width: 576px) {
    .portfolio-block .portfolio-item {
      margin-right: 0;
    }
  }
  .portfolio-block .portfolio-item:nth-child(4n) {
    margin-right: 0;
  }
  @media (max-width: 768px) {
    .portfolio-block .portfolio-item:nth-child(4n) {
      margin-right: 30px;
    }
  }
  @media (max-width: 992px) {
    .portfolio-block .portfolio-item:nth-child(4n) {
      margin-right: 30px;
    }
  }
  .portfolio-block .portfolio-item:hover h3, .portfolio-block .portfolio-item:hover p {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .portfolio-block .portfolio-item:before {
    content: "";
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-top: solid 2px;
    border-bottom: solid 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    hover-transform: scale(1);
  }
  .portfolio-block .portfolio-item:after {
    content: "";
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-left: solid 2px;
    border-right: solid 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .portfolio-block .portfolio-item:after:after:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .portfolio-block .portfolio-item h3 {
    font-size: 2rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  .portfolio-block .portfolio-item p {
    font-size: 2rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
  }
  
  .skills-block h2 {
    font-size: 4.5rem;
    margin: 0 0 40px 0;
    color: #fff;
  }
  @media (max-width: 576px) {
    .skills-block h2 {
      text-align: center;
      font-size: 3rem;
    }
  }
  .skills-block .skills-item-wrap .skill-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 0 0 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  @media (max-width: 576px) {
    .skills-block .skills-item-wrap .skill-item {
      width: 65%;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 768px) {
    .skills-block .skills-item-wrap .skill-item {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 992px) {
    .skills-block .skills-item-wrap .skill-item {
      margin-bottom: 20px;
    }
  }
  .skills-block .skills-item-wrap .skill-item .skill-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  .skills-block .skills-item-wrap .skill-item .skill-name.html {
    background: url("../img/HTML5_Logo_64.png") no-repeat center;
    background-size: contain;
  }
  .skills-block .skills-item-wrap .skill-item .skill-name.css {
    background: url("../img/css3_logo.png") no-repeat center;
    background-size: contain;
  }
  .skills-block .skills-item-wrap .skill-item .skill-name.jq {
    background: url("../img/jquery-2.svg") no-repeat center;
    background-size: contain;
  }
  .skills-block .skills-item-wrap .skill-item .skill-name.ps {
    background: url("../img/photoshop-cc.svg") no-repeat center;
    background-size: contain;
  }
  .skills-block .skills-item-wrap .skill-item .skill-name .name {
    font-size: 7rem;
  }
  .skills-block .skills-item-wrap .skill-item .skill-name .percent {
    font-size: 4rem;
  }
  .skills-block .skills-item-wrap .skill-item .progress-line {
    width: 100%;
    height: 20px;
    border-radius: 20px;
  }
  .skills-block .skills-item-wrap .skill-item .progress-line .progress {
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
  }
  
  .html-item .progress {
    width: 95%;
    -webkit-animation-name: progressHtml;
            animation-name: progressHtml;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  
  .css-item .progress {
    width: 90%;
    -webkit-animation-name: progressCss;
            animation-name: progressCss;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  
  .jq-item .progress {
    width: 60%;
    -webkit-animation-name: progressJq;
            animation-name: progressJq;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  
  .ps-item .progress {
    width: 100%;
    -webkit-animation-name: progressPs;
            animation-name: progressPs;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  
  @-webkit-keyframes progressHtml {
    from {
      width: 0;
    }
    to {
      width: 95%;
    }
  }
  
  @keyframes progressHtml {
    from {
      width: 0;
    }
    to {
      width: 95%;
    }
  }
  @-webkit-keyframes progressCss {
    from {
      width: 0;
    }
    to {
      width: 90%;
    }
  }
  @keyframes progressCss {
    from {
      width: 0;
    }
    to {
      width: 90%;
    }
  }
  @-webkit-keyframes progressJq {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  }
  @keyframes progressJq {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  }
  @-webkit-keyframes progressPs {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes progressPs {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .contact-with-me h2 {
    font-size: 4.5rem;
    margin: 40px 0 40px 0;
  }
  @media (max-width: 576px) {
    .contact-with-me h2 {
      text-align: center;
      font-size: 3rem;
    }
  }
  .contact-with-me h3 {
    font-size: 3rem;
  }
  .contact-with-me .contact-info ul {
    list-style: none;
  }
  .contact-with-me .contact-info ul li {
    font-size: 2rem;
    vertical-align: middle;
    margin-bottom: 20px;
  }
  .contact-with-me .contact-info ul li i {
    margin-right: 10px;
    color: #666;
    font-size: 2.3rem;
    line-height: 2.3rem;
  }
  .contact-with-me .contact-info ul li i.fa-map-marker-alt {
    width: 23px;
    text-align: center;
  }
  .contact-with-me .contact-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-with-me .contact-form form input, .contact-with-me .contact-form form textarea {
    color: black;
    padding: 10px 20px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    resize: none;
  }
  .contact-with-me .contact-form form input[type="text"]::-webkit-input-placeholder, .contact-with-me .contact-form form textarea::-webkit-input-placeholder {
    color: #ccc;
  }
  .contact-with-me .contact-form form input[type="text"]:-ms-input-placeholder, .contact-with-me .contact-form form textarea:-ms-input-placeholder {
    color: #ccc;
  }
  .contact-with-me .contact-form form input[type="text"]::-ms-input-placeholder, .contact-with-me .contact-form form textarea::-ms-input-placeholder {
    color: #ccc;
  }
  .contact-with-me .contact-form form input[type="text"]::placeholder, .contact-with-me .contact-form form textarea::placeholder {
    color: #ccc;
  }
  .contact-with-me .contact-form form input[type="submit"] {
    width: 30%;
    background-color: white;
    border: 1px solid #e65959;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .contact-with-me .contact-form form input[type="submit"]:hover {
    background-color: #e65959;
    color: white;
    cursor: pointer;
  }
  
  .about-me-block h2 {
    font-size: 4.5rem;
    margin: 0;
    color: white;
  }
  @media (max-width: 576px) {
    .about-me-block h2 {
      font-size: 3rem;
    }
  }
  .about-me-block p {
    font-size: 1.3rem;
    margin-top: 25px;
    color: white;
  }
  .about-me-block .my-photos-block {
    margin-top: 100px;
    width: 100%;
  }
  .about-me-block .my-photos-block .my-photo-item {
    max-width: 200px;
    height: 130px;
    background-color: white;
  }
  .about-me-block .my-photos-block .my-photo-item img {
    width: 100%;
    height: 100%;
  }
  
  .footer-block .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  @media (max-width: 576px) {
    .footer-block .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  @media (max-width: 768px) {
    .footer-block .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  .footer-block .footer .social-block .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-block .footer .social-block .social a {
    color: black;
    font-size: 3rem;
    text-decoration: none;
  }
  