/* Breakpoint 640px */

@media (max-width: 640px) {
    .main-wrap {
        width: 640px;
    }
    header {
        justify-content: center;
    }
    header .nav {
        display: none;
    }
    .first-screen-wrap {
        background-image: url('./img/bg-640.png');
        background-size: cover;
        height: 528px;
    }
    .first-screen h1 {
        font-size: 24px;
        margin-top: 123px;
    }
    .first-screen h1 strong {
        font-size: 62px;
    }
    .first-screen .sale {
        font-size: 22px;
        margin-top: 40px;
    }
    .first-screen .sale strong {
        font-size: 40px;
    }
    .first-screen .sale strong span {
        font-size: 52px;
    }
    .first-screen .btn-group {
        width: 310px;
        margin: 23px auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 42px;
    }
    .first-screen .btn-group .btn {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 23px;
        margin: 39px 0 45px;
    }
    .about p {
        font-size: 13px;
        line-height: 19px;
    }
    .gallery-item {
        width: 145px;
        height: auto;
    }
    .price-table-wrap {
        padding-top: 1px;
    }
    .white {
        padding: 20px 23px;
        width: 92%;
        margin: 0 auto;
    }
    .price-table {
        font-size: 12px;
    }
    .catalog-wrap {
        justify-content: space-around;
    }
    .catalog-item {
        width: 280px;
    }
    .catalog-item img {
        width: 278px;
    }
    .how-to-buy-wrap h2 {
        font-size: 40px;
    }
    .how-to-buy .item {
        width: 120px;
        height: 120px;
    }
    .how-to-buy .item::before {
        width: 150px;
    }
    .how-to-buy .item-wrap p {
        font-size: 12px;
        line-height: 20px;
        width: 158px;
    }
    .how-to-buy-wrap {
        padding: 1px 0 60px;
    }
}