html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

body, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

section {
  padding: 40px 0;
}
section h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}

input {
  outline: none;
  border: none;
  padding: 15px 25px;
  font-size: 1.4rem;
  color: #111111;
}

header {
  padding: 15px 0;
  width: 100%;
  background-color: #183243;
  position: absolute;
  top: 0;
  left: 0;
}
header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header-wrap .logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  cursor: pointer;
}
header .header-wrap .logo .logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 205px;
  text-decoration: none;
  color: #ffffff;
}
header .header-wrap .logo .logo-text p {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
}
header .header-wrap .logo .logo-text span {
  text-transform: uppercase;
  font-size: 1.1rem;
  position: relative;
}
header .header-wrap .logo .logo-text span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: 1px;
  width: 292px;
  height: 1px;
  background-color: #fff;
}
header .header-wrap .logo .logo-img {
  max-height: 53px;
}
header .header-wrap .menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}
header .header-wrap .menu-list li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.2rem;
}

.main-page {
  background: url("../img/car/car3.1.jpg") center top no-repeat;
  background-size: cover;
  height: 100vh;
}
.main-page .main-page-wrap {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-page .main-page-wrap h1 {
  font-size: 5rem;
  color: #ffffff;
  text-transform: uppercase;
  padding: 110px 0;
}
.main-page .main-page-wrap form {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-page .main-page-wrap form input:first-child {
  border-top-left-radius: 15px;
}
.main-page .main-page-wrap form input:last-child {
  border-bottom-right-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.main-page .main-page-wrap form input:last-child:hover {
  background-color: #a3a3a3;
  color: #ffffff;
}

.about {
  background: url("/img/volvo1.png") 210% center no-repeat;
}
.about-wrap h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  padding: 10px 0;
}
.about-wrap .about-info-wrap {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-wrap .about-info-wrap .about-info-item {
  text-align: center;
  width: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background: inherit;
}
.about-wrap .about-info-wrap .about-info-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6rem;
}
.about-wrap .about-info-wrap .about-info-item span {
  font-size: 1.8rem;
}
.about-wrap .about-feedback-wrap {
  padding-top: 50px;
  width: 198px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}
.about-wrap .about-feedback-wrap .about-feedback-item img {
  height: 354px;
}

.empty {
  position: absolute;
  top: 37px;
  left: 155px;
  height: 500px;
  z-index: 1;
}

.our-geo {
  min-height: 100vh;
  background: #B4EAEB;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), color-stop(3%, #b4eaeb), color-stop(97%, #b4eaeb), to(white));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, #b4eaeb 3%, #b4eaeb 97%, white 100%);
}
.our-geo .our-geo-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.our-geo .our-geo-wrap .map {
  width: 80%;
  height: auto;
}
.our-geo .our-geo-wrap .map-icon {
  width: 34px;
  height: 34px;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.our-geo .our-geo-wrap .map-icon:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.our-geo .our-geo-wrap .map-icon1 {
  top: 505px;
  right: 110px;
}
.our-geo .our-geo-wrap .map-icon2 {
  top: 560px;
  right: 340px;
}
.our-geo .our-geo-wrap .map-icon3 {
  top: 570px;
  right: 390px;
}
.our-geo .our-geo-wrap .map-icon4 {
  top: 550px;
  right: 430px;
}
.our-geo .our-geo-wrap .map-icon5 {
  top: 610px;
  right: 100px;
}
.our-geo .our-geo-wrap .map-icon6 {
  top: 520px;
  right: 540px;
}
.our-geo .our-geo-wrap .map-icon7 {
  top: 545px;
  right: 605px;
}
.our-geo .our-geo-wrap .map-icon8 {
  top: 550px;
  right: 635px;
}
.our-geo .our-geo-wrap .map-icon9 {
  top: 515px;
  right: 720px;
}
.our-geo .our-geo-wrap .map-icon10 {
  top: 480px;
  right: 775px;
}
.our-geo .our-geo-wrap .map-icon11 {
  top: 495px;
  right: 825px;
}
.our-geo .our-geo-wrap .map-icon12 {
  top: 465px;
  right: 830px;
}
.our-geo .our-geo-wrap .map-icon13 {
  top: 485px;
  right: 875px;
}
.our-geo .our-geo-wrap .map-icon14 {
  top: 470px;
  right: 935px;
}
.our-geo .our-geo-wrap .map-icon15 {
  top: 500px;
  right: 1120px;
}
.our-geo .our-geo-wrap .map-icon16 {
  top: 290px;
  right: 1000px;
}
.our-geo .our-geo-wrap .map-icon17 {
  top: 370px;
  right: 1000px;
}

.contact-us {
  background: url("/img/volvo.png") center no-repeat;
}
.contact-us .contact-us-wrap .contact-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}
.contact-us .contact-us-wrap .contact-list li {
  font-size: 1.8rem;
  margin: 15px 0;
}
.contact-us .contact-us-wrap .contact-list li i {
  width: 30px;
  height: 30px;
}
.contact-us .contact-us-wrap .contact-list li a {
  text-decoration: none;
  color: #111;
}
.contact-us form {
  padding-top: 30px;
}
.contact-us form input {
  width: 100%;
  border: 1px solid #111;
  margin-bottom: 15px;
}
.contact-us form input:first-child {
  border-top-left-radius: 15px;
}
.contact-us form input:last-child {
  border-bottom-right-radius: 15px;
}

.docs .docs-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.docs .docs-wrap .doc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.docs .docs-wrap .doc-item h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.docs .docs-wrap .doc-item .download {
  margin-top: 20px;
}
.docs .docs-wrap .doc-item img {
  width: 200px;
  height: 282px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.61);
}
.docs .docs-wrap .doc-item img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
