@charset "UTF-8";
html {
  font-family: "Rubik", sans-serif;
  font-size: 10px;
}
@media (max-width: 1199px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 6px;
  }
}

body, p, h1, h2, h3, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.all-wrap {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section {
  padding: 40px 0;
}
section h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.slide {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

.slide-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

input {
  outline: none;
  border: none;
  padding: 10px 25px;
  font-size: 1.4rem;
  color: #111111;
}
@media (max-width: 991px) {
  input {
    padding: 7px 10px;
  }
}

header {
  z-index: 1000;
  width: 100%;
  background-color: #183243;
  position: absolute;
  top: 0;
  left: 0;
}
header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  header .header-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
header .header-wrap .mobile-menu-button {
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-wrap .mobile-menu-button .burger-menu-line {
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 3px;
  z-index: 700;
}
header .header-wrap .mobile-menu-button .burger-menu-line1 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: center;
          transform-origin: center;
}
header .header-wrap .mobile-menu-button .burger-menu-line3 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: center;
          transform-origin: center;
}
header .header-wrap .mobile-menu-button .burger-menu-line1-active {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}
header .header-wrap .mobile-menu-button .burger-menu-line2-active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}
header .header-wrap .mobile-menu-button .burger-menu-line3-active {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}
header .header-wrap .mobile-menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}
header .header-wrap .mobile-menu ul {
  height: 70%;
  padding: 100px 50px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-wrap .mobile-menu ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
}
header .header-wrap .logo img {
  width: 300px;
  padding: 15px 0;
}
@media (max-width: 767px) {
  header .header-wrap .logo img {
    width: 200px;
  }
}
header .header-wrap .menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-wrap .menu-list li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
header .header-wrap .menu-list li::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .header-wrap .menu-list li:hover::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
header .header-wrap .menu-list li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (max-width: 1199px) {
  header .header-wrap .menu-list li a {
    font-size: 1.8rem;
  }
}

.main-page {
  height: 100vh;
}
.main-page .main-page-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-page .main-page-wrap h1 {
  font-size: 5rem;
  color: #ffffff;
  text-transform: uppercase;
  padding: 110px 0;
}
@media (max-width: 575px) {
  .main-page .main-page-wrap h1 {
    font-size: 4.5rem;
    padding: 70px 0;
  }
}
.main-page .main-page-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 65px;
}
@media (max-width: 767px) {
  .main-page .main-page-wrap form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 425px) {
  .main-page .main-page-wrap form {
    font-size: 2.4rem;
  }
  .main-page .main-page-wrap form:first-child {
    border-top-left-radius: 15px;
  }
  .main-page .main-page-wrap form:last-child {
    border-bottom-right-radius: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  .main-page .main-page-wrap form:last-child:hover {
    background-color: #a3a3a3;
    color: #ffffff;
  }
}

.about {
  background: url("/img/volvo1.png") 213% center no-repeat;
}
@media (max-width: 1199px) {
  .about {
    background: url("/img/volvo1.png") 550% 100% no-repeat;
  }
}
@media (max-width: 991px) {
  .about {
    background: url("/img/volvo1-mirror.png") 4200% 100% no-repeat;
  }
}
.about-wrap {
  position: relative;
}
.about-wrap-decor {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40rem;
  line-height: 30rem;
  font-weight: 900;
  z-index: 1;
  color: rgba(214, 214, 214, 0.3);
}
@media (max-width: 575px) {
  .about-wrap-decor {
    font-size: 30rem;
  }
}
.about-wrap h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  padding: 10px 0;
}
.about-wrap .about-info-wrap {
  z-index: 5;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-wrap .about-info-wrap .about-info-item {
  text-align: center;
  width: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background: inherit;
  margin-bottom: 30px;
}
.about-wrap .about-info-wrap .about-info-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6rem;
}
.about-wrap .about-info-wrap .about-info-item span {
  font-size: 1.8rem;
}
.about-wrap .about-feedback-wrap {
  padding-top: 50px;
  width: 198px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}
.about-wrap .about-feedback-wrap .about-feedback-item img {
  height: 354px;
}

.partners h2 {
  color: #fff;
  text-shadow: 0px 0px 26px #494949;
}
.partners .partners-wrap .partners-item {
  height: 178px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partners .partners-wrap .partners-item img {
  width: 155px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.partners .partners-wrap .partners-item p {
  font-size: 1.7em;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 0px 26px #494949;
}

.empty {
  position: absolute;
  top: 37px;
  left: 155px;
  height: 500px;
  z-index: 1;
}
@media (max-width: 1199px) {
  .empty {
    top: 36px;
    left: 110px;
  }
}
@media (max-width: 991px) {
  .empty {
    top: 29px;
    left: 51px;
  }
}
@media (max-width: 767px) {
  .empty {
    top: 29px;
    left: 140px;
  }
}
@media (max-width: 575px) {
  .empty {
    top: 29px;
    left: calc( 50% - 131px );
  }
}

.our-geo {
  padding-top: 0;
  position: relative;
  min-height: auto;
  background: url("../img/geo-bg.jpg") center no-repeat;
  background-size: cover;
}
.our-geo .shapes-geo {
  position: absolute;
  top: -40px;
  left: 0;
  bottom: -40px;
  width: 500px;
  -webkit-clip-path: polygon(0 0, 78% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 78% 0, 100% 100%, 0% 100%);
  background-color: #183243;
  padding: 300px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1500px) {
  .our-geo .shapes-geo {
    width: 340px;
    padding: 300px 50px;
  }
}
.our-geo .shapes-geo .call-us {
  color: #183243;
  background-color: #fff;
}
.our-geo .shapes-geo p {
  color: #ffffff;
  font-size: 2.8rem;
  margin-bottom: 5px;
}
@media (max-width: 2269px) {
  .our-geo .shapes-geo p {
    font-size: 2.4rem;
    margin-bottom: 15px;
  }
}
@media (max-width: 1999px) {
  .our-geo .shapes-geo p {
    font-size: 1.6rem;
    margin-bottom: 15px;
  }
}
@media (max-width: 1500px) {
  .our-geo .shapes-geo p {
    font-size: 1.3rem;
  }
}
.our-geo .shapes-geo p a {
  color: #fff;
}
.our-geo .shapes-geo .agree {
  text-decoration: none;
  font-size: 2rem;
  margin-top: 10px;
  color: #183243;
  background-color: #fff;
  border-radius: 25px;
  padding: 10px 25px;
  width: 224px;
}
@media (min-width: 2000px) {
  .our-geo .shapes-geo {
    width: 800px;
  }
}
.our-geo-decor {
  position: absolute;
  top: 50px;
  left: 50px;
  text-transform: uppercase;
  font-size: 8rem;
  z-index: 100;
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0px 4px 0px #969696;
}
@media (max-width: 1199px) {
  .our-geo-decor {
    font-size: 6rem;
  }
}
@media (min-width: 1441px) {
  .our-geo-decor {
    font-size: 8rem;
  }
}
.our-geo .our-geo-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.our-geo .our-geo-wrap .map {
  width: 1212px;
  height: auto;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .map {
    width: 1792px;
  }
}
.our-geo .our-geo-wrap .city {
  position: absolute;
  width: auto;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.our-geo .our-geo-wrap .city p {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.our-geo .our-geo-wrap .city .map-icon {
  width: 34px;
  height: 34px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.our-geo .our-geo-wrap .city1 {
  top: 480px;
  right: 93px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city1 {
    top: 736px;
    right: 150px;
  }
}
.our-geo .our-geo-wrap .city2 {
  top: 530px;
  right: 323px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city2 {
    top: 790px;
    right: 484px;
  }
}
.our-geo .our-geo-wrap .city3 {
  top: 540px;
  right: 373px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city3 {
    top: 846px;
    right: 585px;
  }
}
.our-geo .our-geo-wrap .city4 {
  top: 520px;
  right: 413px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city4 {
    top: 842px;
    right: 648px;
  }
}
.our-geo .our-geo-wrap .city5 {
  top: 580px;
  right: 70px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city5 {
    top: 890px;
    right: 147px;
  }
}
.our-geo .our-geo-wrap .city6 {
  top: 490px;
  right: 523px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city6 {
    top: 793px;
    right: 774px;
  }
}
.our-geo .our-geo-wrap .city7 {
  top: 515px;
  right: 588px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city7 {
    top: 807px;
    right: 873px;
  }
}
.our-geo .our-geo-wrap .city8 {
  top: 520px;
  right: 618px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city8 {
    top: 804px;
    right: 916px;
  }
}
.our-geo .our-geo-wrap .city9 {
  top: 485px;
  right: 703px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city9 {
    top: 787px;
    right: 1078px;
  }
}
.our-geo .our-geo-wrap .city10 {
  top: 450px;
  right: 758px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city10 {
    top: 714px;
    right: 1137px;
  }
}
.our-geo .our-geo-wrap .city11 {
  top: 465px;
  right: 805px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city11 {
    top: 731px;
    right: 1202px;
  }
}
.our-geo .our-geo-wrap .city12 {
  top: 430px;
  right: 813px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city12 {
    top: 681px;
    right: 1192px;
  }
}
.our-geo .our-geo-wrap .city13 {
  top: 470px;
  right: 875px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city13 {
    top: 717px;
    right: 1299px;
  }
}
.our-geo .our-geo-wrap .city14 {
  top: 460px;
  right: 918px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city14 {
    top: 698px;
    right: 1372px;
  }
}
.our-geo .our-geo-wrap .city15 {
  top: 480px;
  right: 1095px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city15 {
    top: 736px;
    right: 1627px;
  }
}
.our-geo .our-geo-wrap .city16 {
  top: 260px;
  right: 960px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city16 {
    top: 413px;
    right: 1439px;
  }
}
.our-geo .our-geo-wrap .city17 {
  top: 340px;
  right: 1000px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city17 {
    top: 549px;
    right: 1477px;
  }
}
.our-geo .our-geo-wrap .city18 {
  top: 381px;
  right: 706px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city18 {
    top: 590px;
    right: 1057px;
  }
}
.our-geo .our-geo-wrap .city19 {
  top: 257px;
  right: 145px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city19 {
    top: 400px;
    right: 231px;
  }
}
.our-geo .our-geo-wrap .city20 {
  top: 317px;
  right: 257px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city20 {
    top: 484px;
    right: 394px;
  }
}
.our-geo .our-geo-wrap .city21 {
  top: 450px;
  right: 1004px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city21 {
    top: 685px;
    right: 1516px;
  }
}
.our-geo .our-geo-wrap .city22 {
  top: 465px;
  right: 1110px;
}
@media (min-width: 2027px) {
  .our-geo .our-geo-wrap .city22 {
    top: 696px;
    right: 1677px;
  }
}
.our-geo .our-geo-wrap .city:hover .map-icon {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.our-geo .our-geo-wrap .city:hover p {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.our-geo .our-geo-wrap .city:hover {
  z-index: 5;
}

.contact-us {
  background: url("../img/volvo.png") center no-repeat;
  position: relative;
}
@media (max-width: 991px) {
  .contact-us {
    background: url("../img/volvo.png") -60% center no-repeat;
  }
}
@media (max-width: 767px) {
  .contact-us {
    background: url("../img/volvo.png") -112% center no-repeat;
  }
}
@media (max-width: 575px) {
  .contact-us {
    background: none;
  }
}
.contact-us .shapes-contact {
  position: absolute;
  top: -40px;
  right: 0;
  bottom: -40px;
  width: 40%;
  -webkit-clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
  background-color: #183243;
}
@media (min-width: 1800px) {
  .contact-us .shapes-contact {
    width: 47%;
  }
}
@media (min-width: 2669px) {
  .contact-us .shapes-contact {
    width: 50%;
  }
}
.contact-us-header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-us-header-wrap h2 {
  z-index: 5;
  font-size: 2.2rem;
}
.contact-us-header-wrap h2:first-child {
  color: #183243;
}
.contact-us-header-wrap h2:last-child {
  color: #ffffff;
}
.contact-us .contact-us-wrap .contact-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}
.contact-us .contact-us-wrap .contact-list li {
  font-size: 1.8rem;
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1199px) {
  .contact-us .contact-us-wrap .contact-list li {
    margin: 5px 0;
  }
}
.contact-us .contact-us-wrap .contact-list li .contact-icon {
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #183243;
  border-radius: 50%;
  font-size: 4rem;
  color: #ffffff;
}
.contact-us .contact-us-wrap .contact-list li .contact-text-wrap {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-us .contact-us-wrap .contact-list li .contact-text-wrap p a {
  text-decoration: none;
  color: #111;
}
.contact-us form {
  padding-top: 30px;
}
.contact-us form input {
  width: 100%;
  border: 1px solid #111;
  margin-bottom: 15px;
}
.contact-us form:first-child {
  border-top-left-radius: 15px;
}
.contact-us form:last-child {
  border-bottom-right-radius: 15px;
}
.contact-us form + p {
  color: #fff;
  font-size: 1rem;
}
.contact-us form + p .agree {
  color: #fff;
}

.docs {
  position: relative;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#8e9ba3));
  background: linear-gradient(180deg, white 0%, #8e9ba3 100%);
}
.docs .shapes-right {
  height: 100%;
  width: 300px;
  background: url("../img/shapes.jpg") right bottom no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-clip-path: polygon(61% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(61% 0, 100% 0, 100% 100%, 0% 100%);
}
.docs .shapes-left {
  height: 100%;
  width: 300px;
  background: url("../img/shapes.jpg") left top no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-clip-path: polygon(61% 0, 0 0, 0% 100%);
          clip-path: polygon(61% 0, 0 0, 0% 100%);
}
.docs .docs-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.docs .docs-wrap .doc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  margin-bottom: 20px;
}
.docs .docs-wrap .doc-item h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.docs .docs-wrap .doc-item .download {
  margin-top: 20px;
  color: #ffffff;
  font-weight: 700;
}
.docs .docs-wrap .doc-item img {
  width: 200px;
  height: 282px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.61);
}
.docs .docs-wrap .doc-item img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.question {
  background: #8e9ba3;
  background: -webkit-gradient(linear, left top, left bottom, from(#8e9ba3), to(#4a5f6c));
  background: linear-gradient(180deg, #8e9ba3 0%, #4a5f6c 100%);
  position: relative;
}
.question .shapes-center {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, calc( 100% - 300px ) 0, 100% 100%, 300px 100%);
          clip-path: polygon(0 0, calc( 100% - 300px ) 0, 100% 100%, 300px 100%);
  background: url("../img/road-for-shapes1.jpg") center no-repeat;
  background-size: cover;
}
@media (max-width: 964px) {
  .question .shapes-center {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }
}

.tab {
  border-radius: 3px;
  color: #fff;
  margin-bottom: 10px;
  background-color: #183243;
  position: relative;
}
.tab input, .tab-content {
  display: none;
}
.tab-title {
  padding: 10px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.tab-title::after {
  content: "+";
  float: right;
}
.tab-content {
  padding: 10px 20px;
  font-size: 1.4rem;
  background-color: #415b6d;
}
.tab :checked + .tab-title {
  background-color: #183243;
  border-radius: 3px 3px 0 0;
  color: #fff;
}
.tab :checked + .tab-title::after {
  content: "−";
}
.tab :checked ~ .tab-content {
  display: block;
}

.question-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.question-info h2 {
  color: #fff;
}
.question-info p {
  font-size: 2rem;
  color: #fff;
}

.call-us {
  text-decoration: none;
  font-size: 2rem;
  margin-top: 10px;
  color: #ffffff;
  background-color: #183243;
  border-radius: 25px;
  padding: 10px 25px;
  margin-bottom: 40px;
}

.why-we h2 {
  color: #fff;
  margin-bottom: 40px;
  text-shadow: 0px 0px 26px #494949;
}
.why-we .why-we-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.why-we .why-we-wrap .why-we-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Noto Sans", sans-serif;
  min-width: 224px;
  max-width: 224px;
  padding: 20px 20px;
  -webkit-box-shadow: 0 0 10px rgba(1, 1, 1, 0.3);
          box-shadow: 0 0 10px rgba(1, 1, 1, 0.3);
  border-radius: 5px;
  background-color: rgba(75, 171, 255, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
}
.why-we .why-we-wrap .why-we-item:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}
.why-we .why-we-wrap .why-we-item p {
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  vertical-align: middle;
  text-shadow: 0px 0px 26px #494949;
}
.why-we .why-we-wrap .why-we-item img {
  height: 100px;
  margin-bottom: 10px;
}

.gallary {
  background: #4a5f6c;
  background: -webkit-gradient(linear, left top, left bottom, from(#4a5f6c), to(#183243));
  background: linear-gradient(180deg, #4a5f6c 0%, #183243 100%);
  position: relative;
}
.gallary-shape {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(300px 0, 100% 0%, calc( 100% - 300px ) 100%, 0 100%);
          clip-path: polygon(300px 0, 100% 0%, calc( 100% - 300px ) 100%, 0 100%);
  background: url("../img/gallary-bg1.png") left 75% no-repeat;
  background-size: cover;
}
@media (max-width: 964px) {
  .gallary-shape {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }
}
.gallary h2 {
  color: #fff;
}
.gallary .gallary-block .gallary-item img {
  min-height: 200px;
  max-height: 200px;
  min-width: 300px;
  max-width: 300px;
  margin: 0 auto;
}

footer {
  border-top: 1px solid #111;
  padding: 15px 0;
  background-color: #183243;
}
footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-wrap .footer-nav {
  list-style: none;
}
footer .footer-wrap .footer-nav li a {
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none;
}
footer .footer-wrap .to-main {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
}
footer .footer-wrap .made {
  text-align: right;
  font-size: 1.2rem;
  color: #ffffff;
}
footer .footer-wrap .made a {
  color: #c6d8fa;
}
